#search {
  background-color: blueviolet;
}
#current {
  background-color: bisque;
}
#forecast {
  background-color: coral;
  display: flex;
  justify-content: space-around;
}

.card {
  min-height: 100px;
  min-width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
